<div class="jumbotron">
	<div class="container-fluid">
		<h1 class="text-center"> Welcome To My App!</h1>
		<p class="text-center"><%= link_to "Log In", "http://google.com", class: "btn btn-default" %>  <%= link_to "Sign Up", "http://google.com", class: "btn btn-primary" %></p>
	</div>	
</div>


